@model WebMotors.UI.WEB.Models.AnuncioMOD

@{
    ViewData["Title"] = "Consultar";
}
<br />
<h2>Consultar Anúncio</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.marca_nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marca_nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.modelo_nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.modelo_nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.versao_nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.versao_nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ano)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ano)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quilometragem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quilometragem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.observacao)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Editar", new { id = Model.ID }) |
    <a asp-action="Index">Retornar para a Lista</a>
</div>